/* Available Google Fonts */

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* End Google Fonts */

/* palette start */
.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
/* palette end */

/* classes */
body {
  background-color: peru;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #512DA8; 
  color: #212121;
}

.card {
  border: 1px silver solid;
  margin: 10px;
  padding: 15px;
  box-shadow: 6px 10px lightgoldenrodyellow;
  height: auto;
  width: 250px;
  justify-content: center;
  flex: 1 0 25%;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.card h2 {
  border: 1px solid lightblue;
  text-align: center;
  background: #8BC34A;
  border-color: #BDBDBD; 
}

.card img {
  height: 200px;
  width: 200px;
  border: 1px solid silver;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card p {
  text-align: justify;
}

.product-availability {
  background-color: #BDBDBD;
  color: #673AB7;
  width: calc(100% + 30px);
  margin-left: -15px;
  font-family: 'Roboto', sans-serif; 
}

.block2-specs p {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.block3-pricing p {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
